@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --primary-color: #d69015;
  --secondary-color: #e2bc7a;
  --ternary-color: #ffffff;
  --primary-background-color: #131312;
  --secondary-background-color: #3e3337;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-width: 32rem;
  max-width: 50rem;
  margin: 0 auto;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

main {
  background-color: var(--primary-background-color);
}

#main-header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  font: normal 1.2rem 'Verdana', sans-serif;
  background-color: var(--secondary-background-color);
}

#main-header ul {
  list-style-type: none;
}

#main-header ul li {
  float: right;
  margin-left: 1rem;
}

/* Links */
a:link, a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

a:active, a:hover {
  color: var(--secondary-color);
}

section {
  padding-bottom: 3.2rem;
}

.hero-content img {
  width: 100%;
  filter: sepia(0.45);
}

section .padded-sideways {
  padding: 0 1.6rem;
}

.padded-sideways h1 {
  font: 500 4rem 'Roboto', sans-serif;
  color: var(--primary-color);
  text-align: center;
  margin: 3.2rem 0;
}

.padded-sideways p {
  font: 500 1.4rem 'Roboto', sans-serif;
  color: var(--secondary-color);
  text-align: justify;
}

footer {
  background-color: var(--primary-background-color);
  flex-grow: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: bold 1.2rem 'Roboto', sans-serif;
  color: var(--ternary-color);
  padding: 0 1rem;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li object {
  vertical-align: middle;
  cursor: pointer;
}

footer nav ul li:hover object {
  filter: brightness(0) saturate(100%) invert(78%) sepia(56%) saturate(4206%) hue-rotate(358deg) brightness(90%) contrast(86%);
}
